* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-image: url("../src/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.criarfaixa {
  text-align: right;
  padding-top: 10px;
}

h1 {
  color: brown;
  font-size: 7vh;
  text-align: center;
  border-radius: 20px;
  text-shadow: 2px 2px 3px rgb(146, 0, 0);
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 20px auto;
}

h2.title {
  color: white;
  text-shadow: 3px 1px 2px rgb(0, 0, 0);
  text-align: center;
  margin: 30px 0;
}

button:hover {
  background: #ffffff;
  transform: translateY(-7px);
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.445);
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.album-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  position: relative;
}


input {
  width: 80vh;
}

.album-card .header {
  display: flex;
  justify-content: space-between;
}

.album-card p.album-title {
  color: black;
  font-weight: bold;
}

ul.tracks-list {
  list-style: none;
  border-top: 2px dashed #ccc;
  padding-top: 15px;
}

ul.tracks-list .track {
  display: flex;
  justify-content: space-between;
}

ul.tracks-list .track .number {
  font-weight: bold;
  width: 15px;
  display: inline-flex;
}

.tracks {
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.tracks .track-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tracks .track-wrapper:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 2px dashed #f6f8fb;
}

.tracks .track-wrapper .track-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracks .track-wrapper .track-details .track-number {
  font-weight: 900;
  color: #95a0c0;
  margin-right: 20px;
}

.tracks .track-wrapper .track-details .track {
  display: flex;
  flex-direction: column;
}

.tracks .track-wrapper .track-details .track .name {
  font-weight: bold;
  color: #3f4e75;
}

input {
  border: 2px solid #ccc;
  padding: 5px 15px;
  border-radius: 10px;
  height: 50px;
  caret-color: brown;
}

button:hover {
  border: 10px;
}

button.create {
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background: #7de7ff;
  color: #1d6c00;
  font-weight: bold;
  cursor: pointer;
}

button.remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background: #ff7d7d;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

.nome-album {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}